@font-face {
  font-family: 'BV';
  src: url('../fonts/BeVietnamPro-Variable.ttf') format('truetype');
}

@font-face{
  font-family: 'PJS';
  src: url('../fonts/PlusJakartaSans-SemiBold.ttf') format('truetype');
}