.album {
	background-color: var(--app-bg);
	min-height: 100vh;
}

#voltar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    
}

.prev,
.next {
margin: 2rem;
font-size: 2rem;
background-color: transparent;
color: var(--app-text);
border: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(19, 19, 19, 0.8);
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content img {
    max-width: 70%;
    height: auto;
}

.close {
display: none;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}