/* .working {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: black;
  gap: 1rem;
}

.working img {
  width: 50%;
}

.working p {
  font-size: 1.2rem;
  color: white;
  font-family: 'BeVietnam';
}


.working a {
  color: white;
  font-size: 2rem;
  margin-top: 2rem;
}


@media  (min-width: 768px) {
  .working img {
    width:10%;
  }
  .working p {
    font-size: 1rem;
  }
  .working a {
    font-size: 1.5rem;
  }
} */