.hero {
	background-image: url('../../../public/images/tlup-hero.jpg');
	height: 100vh;
	background-position: center;
	background-size: cover;
}

.hero-bg {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 100%;
	margin: 0 2.5rem;
	flex-direction: ;
}

.hero-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
    	margin-bottom: 17rem;
}

.hero-title h1 {
	font-size: 1.5rem;
	color: var(--app-text);
	text-align: center;
	font-family: 'BV';
}
