.about-image {
	display: none;
}

.about-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-question h3 {
	font-size: 1.25rem;
	font-family: 'BV';
	padding-bottom: 1rem;
}

.about-question p {
	font-size: 0.875rem;
	font-family: 'BV';
	font-weight: 200;
	padding-bottom: 2rem;
	text-align: justify;
}

.about-question {
	color: var(--app-text);
}

@media (min-width: 768px) {
	.about-image {
		display: block;
	}

	.about-image img {
		width: 100%;
		height: auto;
	}

	.about-question h3 {
		font-size: 1.5rem;
	}

	.about-question p {
		font-size: 1rem;
	}

	.about-question h3 {
		padding-bottom: 0.5rem;
	}
}
